@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 224 71.4% 4.1%;
    --card: 60 56% 95%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 60 56% 91%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 36 100% 60%;
    --primary-foreground: 224 71.4% 4.1%;
    --secondary: 60 30% 85%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 60 30% 88%;
    --muted-foreground: 222.2 84% 4.9% / 0.5;
    --accent: 195 37% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 85%;
    --ring: 36 100% 60%;
    --chart-1: 36 100% 60%;
    --chart-2: 195 37% 44%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 60 56% 93%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 36 100% 60%;
    --sidebar-primary-foreground: 224 71.4% 4.1%;
    --sidebar-accent: 60 30% 88%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 60 20% 80%;
    --sidebar-ring: 36 100% 60%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 36 100% 60%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 195 37% 44%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 195 40% 50%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 36 100% 60%;
    --chart-1: 36 100% 60%;
    --chart-2: 195 37% 44%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 36 100% 60%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 36 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
    .perspective-1000 {
        perspective: 1000px;
    }
    .transform-style-3d {
        transform-style: preserve-3d;
    }
    .rotate-y-180 {
        transform: rotateY(180deg);
    }
    .backface-hidden {
        backface-visibility: hidden;
    }
}